#login {
	width: 200px;
	margin: auto;
	text-align: center;
}

#logo {
	width: 458px;
	height:144px;
	margin: auto;
}

#wrapper{
	width: 330px;
	height:300px;
	margin: auto;
}

#logo img{
	width:458px;
	height: 144px;
}

#popCorn{
	margin-top:40px;
	width:120px;
	height: 108px;
	display: inline;
	float: left;
}

#popCorn img{
	width:120px;
	height: 108px;
	float: left;
	display: inline;
}

#login,#password {
	margin-top: 5px;
	margin-bottom: 10px;
}

#login{
	float:right;
}

.errorMessage {
	color: red;
}

#registration {
	width: 400px;
	margin: auto;
	text-align: center;
}

#registration input {
	width: 200px;
}

#filter{
	width: 1000px;
	margin: auto;
	text-align: center;
}
